.text-input {
  width: 60%;
  margin: 0 auto;
}

body {
  background-color: #FDF6EC;
}

h1 {
  padding: 50;
  color: #BB9981;
}

p {
  padding: 5 5;
  color: #534340;
}

label {
  color: #534340;
  padding: 5 5;
}

button {
  margin: 10 10 10 10;
}